Temp/
Library/
UnityGenerated/
Assets/AssetsStoreTools*
ProjectSettings/
.vs/
Obj/
*.csproj
*.sln
*.userprefs
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
ehthumbs.db
Thumbs.db




